<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.specialsoft.dhulemall">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DhuleMall"
        android:usesCleartextTraffic="true">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".MyOrdersList.ActivityOrderDetails" />
        <activity android:name=".PlaceOrder.PlaceOderActivity" />
        <activity android:name=".ProductDetaild.ProductDetails" />
        <activity android:name=".ProductByCategory.ProductByCatgory" />
        <activity
            android:name=".Profile"
            android:excludeFromRecents="true" />
        <activity android:name=".AdminUpdateProductDetails" />
        <activity android:name=".RemoveSpecificProduct" />
        <activity android:name=".AddNewProduct" />
        <activity android:name=".AdminAddRemoveCategory" />
        <activity android:name=".AdminPannel" />
        <activity android:name=".LoginOptionsActivity" />
        <activity android:name=".CreateAccountActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".NetworkErrorActivity" />
        <activity android:name=".MyOrdersList.MyOrderList" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/splashtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.DhuleMall.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>